<%- include('../layouts/header') -%>
<div class="container">
    <div class="row my-3">
        <div class="col">
            <h1>Scraping Data</h1>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6 my-3">
                        <div class="mb-3">
                            <label for="url" class="form-label">Url</label>
                            <input type="text" class="form-control" id="url" name="url">
                        </div>
                        <button id="submit" class="btn btn-primary btn small" type="button">Submit</button>
                </div>
                <div class="col-lg-6 my-3">
                    <textarea rows="12" class="form-control" placeholder="Data link download ..." id="datadl"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const button = document.getElementById('submit');
    button.addEventListener('click', function() {
        const url = document.getElementById('url');
        const datadl = document.getElementById('datadl');
        fetch('/scrap/geteps?url=' + url.value)
        .then(response => response.json())
        .then(response => {
            datadl.innerText = response;
        })
    })
</script>
<%- include('../layouts/footer') -%>