<%- include('../layouts/header') -%>
<div class="container">
    <div class="row my-3">
        <div class="col d-flex align-items-center">
            <h1>Scraping Data</h1>
            <div class="loading ms-2 d-none">
                <div class="spinner-grow spinner-grow-sm text-success" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow spinner-grow-sm text-warning" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
                <div class="spinner-grow spinner-grow-sm text-danger" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>

    <div class="card shadow mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6 my-2">
                    <div class="mb-3">
                        <input type="text" class="form-control"  placeholder="Url..." id="url">
                    </div>
                    <div id="btn-action">
                        <button id="btnEps" class="btn btn-primary my-1 me-1" type="button">One Eps</button>
                        <button id="btnAllEps" class="btn btn-primary my-1 me-1" type="button">All Eps</button>
                        <button id="btnCopy" class="btn btn-primary my-1 me-1" type="button">Copy Teks</button>
                    </div>
                </div>
                <div class="col-lg-6 my-2">
                    <div class="mb-3">
                        <textarea rows="12" class="form-control" placeholder="Data link ..." id="datadl" readonly></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const url = document.getElementById('url');
    const datadl = document.getElementById('datadl');
    const btnAction = document.getElementById('btn-action');
    const btnLoading = document.querySelector('.loading');

    btnAction.addEventListener('click', async (e) => {
        if (e.target.id == 'btnEps') {
            await getLink('/scrap/geteps', url.value);
        } else if (e.target.id == 'btnAllEps') {
            await getLink('/scrap/getalleps', url.value);
        } else if (e.target.id == 'btnCopy') {
            datadl.select();
            datadl.setSelectionRange(0, 99999);
            navigator.clipboard.writeText(datadl.value);
        } else {
            return false;
        }
    })

    function getLink (urlService, urlRequest) {
        if(!urlRequest || urlRequest == '') {
            datadl.innerText = 'Url harus di isi.';
            return false;
        }
        btnDisabled(); 
        fetch(`${urlService}?url=${urlRequest}`)
        .then(response => response.json())
        .then(response => {
            url.value = '';
            datadl.innerText = response;
        })
        .catch((e) => {
            datadl.innerHTML = e;
        })
        .finally(() => {
            btnNormal();
        })
    }

    function btnDisabled () {
        btnEps.setAttribute('disabled', true);
        btnAllEps.setAttribute('disabled', true);
        btnCopy.setAttribute('disabled', true);
        btnLoading.classList.remove('d-none');
    }

    function btnNormal () {
        btnAllEps.removeAttribute('disabled');
        btnEps.removeAttribute('disabled');
        btnCopy.removeAttribute('disabled');
        btnLoading.classList.add('d-none');
    }
</script>
<%- include('../layouts/footer') -%>