<%- include('../layouts/header') -%>
<div class="container">
    <div class="row my-3">
        <div class="col">
            <h1>Scraping Data</h1>
        </div>
    </div>

    <div class="card shadow mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6 my-2">
                    <div class="mb-3">
                        <input type="text" class="form-control"  placeholder="Url..." id="url">
                    </div>
                    <button id="btnEps" class="btn btn-primary btn small me-1" type="button">One Eps</button>
                    <button id="btnAllEps" class="btn btn-primary btn small me-1" type="button">All Eps</button>
                    <button id="btnCopy" class="btn btn-primary btn small me-1" type="button">Copy Teks</button>
                </div>
                <div class="col-lg-6 my-2">
                    <div class="mb-3">
                        <textarea rows="12" class="form-control" placeholder="Data link ..." id="datadl"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    const btnEps = document.getElementById('btnEps');
    const url = document.getElementById('url');
    const datadl = document.getElementById('datadl');
    const btnAllEps = document.getElementById('btnAllEps');
    const btnCopy = document.getElementById('btnCopy');

    btnEps.addEventListener('click', () => {
        fetch('/scrap/geteps?url=' + url.value)
        .then(response => response.json())
        .then(response => {
            datadl.innerText = response;
        })
        .catch((e) => {
            datadl.innerHTML = e;
        })
    })

    btnAllEps.addEventListener('click', () => {
        fetch('/scrap/getalleps?url=' + url.value)
        .then(response => response.json())
        .then(response => {
            datadl.innerText = response;
        })
        .catch((e) => {
            datadl.innerHTML = e;
        })
    })

    btnCopy.addEventListener('click', () => {
        datadl.select();
        datadl.setSelectionRange(0, 99999);

        navigator.clipboard.writeText(datadl.value);
    })
</script>
<%- include('../layouts/footer') -%>