<%- include('../layouts/header') -%>
<div class="container">
    <div class="row my-3">
        <div class="col">
            <h1>404 Page not Found</h1>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card shadow">
                <div class="card-body">
                    Halaman yang anda tuju tidak ditemukan :)
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../layouts/footer') -%>